<div class="w-1/2 mb-10 px-20 overflow-hidden border">
    <a href="{% url 'conversations:detail' chat.pk %}">
        <div class="p-4">
            <p class="uppercase tracking-wide text-sm font-bold text-gray-700">최근 메세지</p>
            <p class="text-3xl text-gray-900">{{chat.messages.all.last}}</p>
            <p class="text-gray-700">{{chat}}</p>
            <span class="text-black w-12/12 block truncate text-right">{{chat.messages.all.last.created}}</span>
        </div>
    </a>    
</div>
